<section class="all">
  <img class="logo" src="../assets/imgs/logo-01.png" alt="logo">
  <div class="left">
      <div class="sidebunner">
          <div class="sidemenu">
              <ul class="firstmenu">
                  <li><a class="current" href="#">Motsow's menu</a></li>
                  <li><a href="#">Oder history</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Carrier</a></li>
                  <li><a href="#">How to convert point</a></li>
                  <li><a href="#">Reviews</a></li>
              </ul>
          </div>
      </div>
      <div class="socialmedia">
          <div class="socialmedialist">
              <a href="#"><img src="../assets/imgs/facebook.png" alt="facebook"></a>
              <a href="#"><img src="../assets/imgs/insta.png" alt="instagram"></a>
              <a href="#"><img src="../assets/imgs/twitter.png" alt="twitter"></a>
          </div>
      </div>
  </div>

  <div class="center">
    <div class="points">
        <p>Points : 11</p>
        <p>converted points : R2.31</p>
    </div>
    <div class="secondmenu">
      <div class="menulist2">
        <div class="coffees">
          <a href="#">DOUBLE EXPRESSO</a>
          <input type="submit" class="order-cta space" value="order">
        </div>
        <div class="coffees">
          <a href="#">BLACK COFFEE</a>
          <input type="submit" class="order-cta space" value="order">
        </div>
        <div class="coffees">
          <a href="#">CAPPUCCINO</a>
          <input type="submit" class="order-cta space" value="order">
        </div>
        <div class="coffees">
          <a href="#">TEA</a>
          <input type="submit" class="order-cta space" value="order">
        </div>
      </div>
    </div>
  </div>
  
  <div class="right">
      <input type="submit" class="comment-cta" value="comment">
      <input type="submit" class="redeem-cta" value="redeem poins">
  </div>
  <div class="nextprev">

  </div>
</section>
<router-outlet></router-outlet>