/************** side menu backgroung and content ***********************/

.left {
  position: relative;
}
.all {
  background: url("../assets/imgs/bg.png") no-repeat;
  background-size: cover;
  display: flex;
  padding: 0;
  margin: 0;
}
