<img class="logo" src="../../../assets/imgs/logo-01.png" alt="logo">
<div class="left">
    <div class="sidebunner">
        <div class="sidemenu">
            <ul class="firstmenu">
                <li><a class="current" href="#">Motsow's menu</a></li>
                <li><a href="#">Order history</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">How to Convert Point</a></li>
                <li><a href="#">How to Earn Points</a></li>
            </ul>
        </div>
    </div>
    <!-- <div class="socialmedia">
        <div class="socialmedialist">
            <a href="#"><img src="img/Group 1.png" alt="facebook"></a>
            <a href="#"><img src="img/Group 2.png" alt="instagram"></a>
            <a href="#"><img src="img/Group 6.png" alt="twitter"></a>
        </div>
    </div> -->
</div>