/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* downloading font(s) */
body {
  margin: 0px !important;
  padding: 0px;
  font-family: "Poppins";
}
a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
